<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Confirmation</title>
          <link rel="stylesheet" href="styles/confirmation-style.css">
     </head>
     <body>
          <head>
               <h1>Submission Confirmed!</h1>
               <h3>Thank you!</h3>
          </head>

          <a id="button" href="/">Return Home</a>

          <footer>
               <a target="_blank" href="https://icons8.com/icon/114325/open-book">Open Book</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
          </footer>  

     </body>
</html>