<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Guest List</title>
     </head>
     <body>
          <h1>Guest List</h1>

          <ul>
               <% for (let i = 0; i < signed.length; i++) { %>
                    <li>Name: <%= signed[i].fname %> <%= signed[i].lname %></li>
                    <li>Job: <%= signed[i].jtitle %></li>
                    <hr>
               <% } %>
          </ul>>

     </body>
</html>