<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Guestbook</title>
          <link rel="stylesheet" href="styles/app-style.css" >
          <!-- Icon -->
           <link rel="icon" href="images/icons8-open-book-48.png">
     </head>
     <body>

          <form action="/submit-guest" method="post">

               <!-- Contact Form -->
               <fieldset id="contact-form">

                    <h1>Contact Form</h1>
                    
                    <div id="center">
                         <!-- First Row of inputs-->
                    <div id="first-row">
                         <label id="fname">First Name
                              <input type="text" name="fname">
                         </label>
     
                         <label id="lname">Last Name
                              <input type="text" name="lname">
                         </label>
     
                         <label id="job">Job Title
                              <input type="text" name="jtitle">
                         </label>
                    </div>

                    <!-- Second Row of inputs -->
                    <div id="second-row">
                         <label  id="company">Company
                              <input type="text" name="company">
                         </label>
     
                         <label id="url">LinkedIn URL
                              <input type="url" name="linkedin">
                         </label>
     
                         <label id="email">Email Address
                              <input type="email" name="email">
                         </label>
                    </div>

                    <!-- Third Row -->
                    <div id="third-row">
                         <label id="meet">How did we meet
                              <select name="howmet" id="how-met">
                                   <option value="none">Please select</option>
                                   <option value="meetup">Meetup</option>
                                   <option value="job-fair">Job Fair</option>
                                   <option value="school">School</option>
                                   <option value="work">Work</option>
                              </select>
                         </label>
                         

     
                         <label id="other">Other (please specify)
                              <input type="text" name="other">
                         </label>
                    </div>
                    </div>

                    <!-- Fourth Row -->
                    <div id="message-box">
                         <label>Message
                              <textarea id="message" name="message" cols="100" rows="15"></textarea>
                         </label>
                         
                    </div>

                    <!-- Fifth Row -->
                    <div id="mail-list">
                         <label>
                              <input type="checkbox" name="maillist">
                              Please add me to your mailing list
                         </label>
                    </div>

                    <!-- Sixth Row -->
                    <div id="mail-format">
                         <p>Choose an email format:
                              <label>
                                   <input type="radio" name="format" value="html">
                                   HTML
                              </label>
          
                              <label>
                                   <input type="radio" name="format" value="text">
                                   Text
                              </label>
                         </p>
                    </div>

                    <!-- Submission -->
                    <button type="submit" id="button">Submit</button>

               </fieldset>

          </form>

               <br>
               <!-- Admin Link -->
               <a href="/admin" id="guestbook">Guestbook</button>

          <footer>
               <a target="_blank" href="https://icons8.com/icon/114325/open-book">Open Book</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
          </footer>     

     </body>

</html>