html{
     background-color: lavender;
     display: flex;
     justify-content: center;

}

body {
     text-align: center;
}

footer {
     margin-top: 10px;
}

#center {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

#first-row, #second-row, #third-row{
     display: grid;
     grid-template-columns: repeat(auto-fill, 200px); /* Used 'auto-fill' to fill the container with the help of: https://stackoverflow.com/questions/43129360/css-grid-wrapping */
     text-align: left;
     margin-left: 100px;
     margin-top: 20px;
}

#message {
     margin-top: 20px;
}

#mail-list {
     margin-top: 20px;
}

#button {
     margin-bottom: 10px;
     background-color: green;
     color: white;
     border-radius: 3px;
     border-color: green;
}

#contact-form {
     background-color: whitesmoke;
}

#button, #mail-format, #mail-list {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
}
