html {
     background-color: lavender;
}

body {
     text-align: center;
     
}

footer {
     margin-top: 50px;
}

#button {
     border-style: solid;
     border-radius: 5px;
     background-color: darkgreen;
     border-color: black;
     color: white;
     padding: 5px;
}