html {
     background-color: lavender;
}

#button {
     border-style: solid;
     border-radius: 5px;
     background-color: darkgreen;
     border-color: black;
     color: white;
     padding: 5px;
}